@page "/dashboard"
<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Money" Color="Color.Primary" Class="mx-4"
                Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Total Donations</MudText>
                <MudText Typo="Typo.h5">0 ZMW</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Favorite" Color="Color.Secondary" Class="mx-4"
                Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Items Donated</MudText>
                <MudText Typo="Typo.h5">0</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudPaper Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
            <MudIcon Icon="@Icons.Material.Filled.Home" Color="Color.Success" Class="mx-4"
                Style="width:54px; height:54px;"></MudIcon>
            <div>
                <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Opharnages Helped</MudText>
                <MudText Typo="Typo.h5">0</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
      <MudPaper Height="500px" Elevation="24">

      </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
         <MudPaper Height="500px" Elevation="24">

      </MudPaper>
    </MudItem>
</MudGrid>
@code {

}