@using Microsoft.AspNetCore.Components.Web
@namespace ODS.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="ODS.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?iu-family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/icon/xfavicon.png.pagespeed.ic.YvM5dLVeS6.png">
    <link rel="stylesheet" href="assets/css/A.bootstrap.min.css%2bowl.carousel.min.css%2bslicknav.css%2banimate.min.css%2bmagnific-popup.css%2bfontawesome-all.min.css%2bthemify-icons.css%2bslick.css%2bnice-select.css%2cMcc.-vl_snE3" />
    <link rel="stylesheet" href="assets/css/A.style.css.pagespeed.cf.lAkB1V4rYc.css">
    <script nonce="ce28b13e-e45e-41ec-b8f2-079f565d8378">(function (w, d) { !function (a, e, t, r) { a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zaraz = { deferred: [] }, a.zaraz.q = [], a.zaraz._f = function (e) { return function () { var t = Array.prototype.slice.call(arguments); a.zaraz.q.push({ m: e, a: t }) } }; for (const e of ["track", "set", "ecommerce", "debug"]) a.zaraz[e] = a.zaraz._f(e); a.addEventListener("DOMContentLoaded", (() => { var t = e.getElementsByTagName(r)[0], z = e.createElement(r), n = e.getElementsByTagName("title")[0]; for (n && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.x = Math.random(), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), a.zarazData.q = []; a.zaraz.q.length;) { const e = a.zaraz.q.shift(); a.zarazData.q.push(e) } z.defer = !0; for (const e of [localStorage, sessionStorage]) Object.keys(e).filter((a => a.startsWith("_zaraz_"))).forEach((t => { try { a.zarazData["z_" + t.slice(7)] = JSON.parse(e.getItem(t)) } catch { a.zarazData["z_" + t.slice(7)] = e.getItem(t) } })); z.referrerPolicy = "origin", z.src = "../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t) })) }(w, d, 0, "script"); })(window, document);</script>
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/flutterwave-checkout-v3.js"></script>
    <script>
        function makePayment(publicKey,amount,tranRef,donor_id,orphanage_id,donor,phone,email,orphanage, logo="",dotnetHelper) {
         const modal = FlutterwaveCheckout({
                public_key: publicKey,
                tx_ref: tranRef,
                amount: amount,
                currency: "ZMW",
                payment_options: "mobilemoneyzambia",               
                meta: {
                    consumer_id: donor_id,
                    consumer_mac: orphanage_id,
                },
                customer: {
                    email: email,
                    phone_number: phone,
                    name: donor,
                },
                customizations: {
                    title: "Kitwe Orphanage Donation System",
                    description: "Donation to "+ orphanage,
                    logo: logo,
                },
                callback: function (payment) {
                    // Verify Payment
                    var json = JSON.stringify(payment);
                    dotnetHelper.invokeMethodAsync('VerifyPayment', json);                    
                    modal.close();
                },
            });
        }
    </script>
    <script src="assets/js/popper.min.js%2bbootstrap.min.js.pagespeed.jc.UN9ZorBW7c.js"></script>
    <script>eval(mod_pagespeed_jjf6qPvzZx);</script>
    <script>eval(mod_pagespeed_zdD9KKJ_05);</script>

    <script src="assets/js/owl.carousel.min.js%2bslick.min.js.pagespeed.jc.Zy5c0S8UfY.js"></script>
    <script>eval(mod_pagespeed_knWVtoEuXJ);</script>
    <script>eval(mod_pagespeed_NyJAc1p8G3);</script>
    <script src="assets/js/jquery.slicknav.min.js%2bwow.min.js%2bjquery.magnific-popup.js%2bjquery.nice-select.min.js%2bjquery.counterup.min.js%2bwaypoints.min.js%2bcontact.js.pagespeed.jc.t0z7RT5rtN.1e.delaye"></script>
    <script>eval(mod_pagespeed_$R3voYB2sc);</script>

    <script>eval(mod_pagespeed_BPFbkKWLuQ);</script>
    <script>eval(mod_pagespeed_SrpRwTPnFZ);</script>
    <script>eval(mod_pagespeed_BRvLR0$mIg);</script>
    <script>eval(mod_pagespeed_KuJDPTvIir);</script>
    <script>eval(mod_pagespeed_sZGLqrNZBW);</script>
    <script>eval(mod_pagespeed_5dObTKyeD0);</script>
    <script src="assets/js/jquery.form.js%2bjquery.validate.min.js%2bmail-script.js%2bjquery.ajaxchimp.min.js%2bplugins.js%2bmain.js.pagespeed.jc.Rsk-arg4ED.js"></script>
    <script>eval(mod_pagespeed_8c1B6$2Ye8);</script>
    <script>eval(mod_pagespeed_FlmSmVFx5K);</script>
    <script>eval(mod_pagespeed_vNRz6jSxEo);</script>
    <script>eval(mod_pagespeed_bsgwYwOLcC);</script>
    <script>eval(mod_pagespeed_syNpqzCHRg);</script>
    <script>eval(mod_pagespeed_1jJgD_qheT);</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"712daf276a6a055e","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>
