@page "/login"
@layout AuthLayout

<EditForm OnValidSubmit="LoginAsync" Model="@Model" OnInvalidSubmit='()=> { snackBar.Add("Please fill in all required field",Severity.Error);}'>

    <DataAnnotationsValidator/>
    <div class="d-flex align-items-center mb-3 pb-1">
        <img class="me-3" src="assets/img/logo/logo2.png"/>
    </div>

    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

    <div class="form-outline mb-4">
        <input @bind-value="@Model.UserName" type="email" id="form2Example17" class="form-control form-control-lg" />
        <MudText Typo="Typo.caption"><ValidationMessage For="()=>Model.UserName" /></MudText>
        <label class="form-label" for="form2Example17">Email address</label>
    </div>
    
    <div class="form-outline mb-4">
        <input @bind-value="@Model.Password" type="password" id="form2Example27" class="form-control form-control-lg" />
        <MudText Typo="Typo.caption"><ValidationMessage For="()=>Model.Password" /></MudText>
        <label class="form-label" for="form2Example27">Password</label>
    </div>

    <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
    </div>

    <a class="small text-muted" href="forgot-password">Forgot password?</a>
    <p class="mb-5 pb-lg-2" style="color: #393f81;">
        Don't have an account? <a href="register"
                                  style="color: #393f81;">Register here</a>
    </p>
    <a href="#!" class="small text-muted">Terms of use.</a>
    <a href="#!" class="small text-muted">Privacy policy</a>
</EditForm>

@code {
    TokenRequest<User> Model { get; set; } = new();


    async Task LoginAsync()
    {
        //if (user != null)
        //{
            
        //}
        //else
        //{
            
        //}
    }
}
